<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="txtFilesPath" value="..\..\..\Files\TXT Files\"/>
    <add key="xmlFilesPath" value="..\..\..\Files\XML Files\"/>
    <add key="wordSeparationPattern" value="\b(\w+)((\p{P}{0,3})\s?)"/>
    <add key="sentencesSeparationPattern" value="(?&lt;!\w\.\w.)(?&lt;![A-Z][a-z]\.)(?&lt;=\.|\?|\!)\s"/>
  </appSettings>
</configuration>